<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control bg-transparent p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Testimonial</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item text-dark" aria-current="page">Your Opinions</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<!-- Testimonial Start -->
<div class="container-fluid py-6">
    <div class="container">
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-1.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Sarah Johnson</h4>
                    <p class="m-0">Wedding Planner</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">The catering team exceeded all expectations at our wedding. Their attention to detail, exquisite presentation, and delicious menu options left our guests raving. Professional from start to finish!</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-2.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Michael Chen</h4>
                    <p class="m-0">Corporate Event Manager</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">For our annual conference, we needed catering for 300+ attendees with diverse dietary needs. They delivered flawless service, creative menu options, and handled everything with absolute professionalism.</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-3.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Emily Rodriguez</h4>
                    <p class="m-0">Birthday Party Host</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">The personalized touch they added to my mother's 60th birthday made it unforgettable. From the custom dessert display to the attentive staff, every detail was perfect. Worth every penny!</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-4.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">David Wilson</h4>
                    <p class="m-0">Charity Gala Organizer</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">Our fundraising gala's success was largely due to the exceptional catering. The gourmet stations and passed hors d'oeuvres impressed our donors, and the staff's discreet efficiency kept everything running smoothly.</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-1.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Jennifer Lee</h4>
                    <p class="m-0">Conference Attendee</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">As someone with gluten intolerance, I'm usually hesitant about catered events. But their dedicated gluten-free options were clearly labeled, delicious, and safely prepared. So refreshing to feel included!</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-2.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Robert Taylor</h4>
                    <p class="m-0">Corporate Client</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">We've used their office catering services monthly for two years. Consistent quality, always on time, and they remember our team's preferences. They've become an extension of our company culture.</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-3.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Amanda Smith</h4>
                    <p class="m-0">Bridal Shower Host</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">The afternoon tea service they created for my sister's bridal shower was breathtaking. From the vintage china to the perfect scones, they captured exactly the elegant, feminine vibe we wanted.</p>
            </div>
        </div>
        <br />
        <div class="testimonial-item rounded bg-light">
            <div class="d-flex mb-3">
                <img src="img/testimonial-4.jpg" class="img-fluid rounded-circle flex-shrink-0" alt="">
                <div class="position-absolute" style="top: 15px; right: 20px;">
                    <i class="fa fa-quote-right fa-2x"></i>
                </div>
                <div class="ps-3 my-auto">
                    <h4 class="mb-0">Thomas Baker</h4>
                    <p class="m-0">Restaurant Consultant</p>
                </div>
            </div>
            <div class="testimonial-content">
                <div class="d-flex">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="far fa-star text-primary"></i>
                    <i class="far fa-star text-primary"></i>
                </div>
                <p class="fs-5 m-0 pt-3">As a food industry professional, I'm particular about catering. Their chef's innovative fusion menu at our product launch was restaurant-quality, and their staff's knowledge of the dishes impressed even my most discerning clients.</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial End -->
<!-- Give Opinion Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-0">
            <div class="col-1">
                <img src="img/background-site.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
            <div class="col-10">
                <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                    <div class="text-center">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Your Opinions</small>
                        <h1 class="display-5 mb-5">Give Us Your Opinions</h1>
                    </div>
                    <div class="row g-4 form">
                        <!-- First Row - Name and Profession -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <input type="text" id="name" class="form-control" placeholder="Name And Surname" required>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <input type="text" id="profession" class="form-control" placeholder="Profession" required>
                        </div>

                        <!-- Second Row - Textarea (Opinion) -->
                        <div class="col-12 mt-3">
                            <textarea id="opinion" class="form-control" rows="6" cols="10" placeholder="Your Opinion" required></textarea>
                        </div>

                        <!-- Third Row - Centered Submit Button -->
                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-primary px-5 py-3 rounded-pill">Submit Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <img src="img/background-site.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Give Opinion End -->
