@{
    ViewData["Title"] = "Təlimatlar Göndərildi";
}
<div class="container text-center py-5">
    <h1 class="display-4">E-poçtunuzu Yoxlayın</h1>
    @if (TempData["InfoMessage"] != null)
    {
        <p class="lead">@TempData["InfoMessage"]</p>
    }
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Əsas Səhifəyə Qayıt</a>
</div>