@model CaterManagementSystem.Models.Contact
@{
    ViewData["Title"] = "Əlaqə";
}

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control bg-transparent p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->

<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Əlaqə</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
            <li class="breadcrumb-item text-dark active" aria-current="page">Bizimlə Əlaqə Saxlayın</li>
        </ol>
    </div>
</div>
<!-- Hero End -->

<!-- Contact Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Əlaqə qurun</small>
                    <h1 class="display-5 mb-0">Hər hansı bir sualınız üçün bizimlə əlaqə saxlayın!</h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    @* @if (!string.IsNullOrEmpty(Model?.FormIntroText))
                    {
                        <p class="mb-4">@Model.FormIntroText</p>
                    }
                    else
                    { *@
                        <p class="mb-4">Əlaqələriniz işimizi və keyfiyyətimizi artırmağa kömək edir.</p> @* Default text *@
                    @* } *@

                    <form> @* Hələlik sadə form, gələcəkdə dəyişdiriləcək *@
                        <input type="text" name="YourName" class="w-100 form-control p-3 mb-4 border-primary bg-light" placeholder="Adınız">
                        <input type="email" name="YourEmail" class="w-100 form-control p-3 mb-4 border-primary bg-light" placeholder="E-poçtunuzu daxil edin">
                        <textarea name="YourMessage" class="w-100 form-control mb-4 p-3 border-primary bg-light" rows="4" cols="10" placeholder="Mesajınız"></textarea>
                        <button class="w-100 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill" type="submit">İndi Göndər</button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div>
                        @if (!string.IsNullOrEmpty(Model?.Address))
                        {
                            <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                                <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                <div class="">
                                    <h4>Ünvan</h4>
                                    <p>@Model.Address</p>
                                </div>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model?.Email))
                        {
                            <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                                <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                <div class="">
                                    <h4>E-poçt</h4>
                                    <p class="mb-0"><a href="mailto:@Model.Email">@Model.Email</a></p>
                                </div>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model?.Phone))
                        {
                            <div class="d-inline-flex w-100 border border-primary p-4 rounded">
                                <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                <div class="">
                                    <h4>Telefon</h4>
                                    <p class="mb-0"><a href="tel:@Model.Phone.Replace(" ", "").Replace("(", "").Replace(")", "")">@Model.Phone</a></p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->