        <!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control bg-transparent p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Events</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
         
            <li class="breadcrumb-item text-dark" aria-current="page">Previous Booking Examples</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<!-- Events Start -->
<div class="container-fluid event py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Latest Events</small>
            <h1 class="display-5 mb-5">Our Social & Professional Events Gallery</h1>
        </div>
        <div class="tab-class text-center">
           
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-1.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Wedding</h4>
                                            <a href="img/event-1.jpg" data-lightbox="event-1" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Corporate</h4>
                                            <a href="img/event-2.jpg" data-lightbox="event-2" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-3.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Wedding</h4>
                                            <a href="img/event-3.jpg" data-lightbox="event-3" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Buffet</h4>
                                            <a href="img/event-4.jpg" data-lightbox="event-4" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-5.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Cocktail</h4>
                                            <a href="img/event-5.jpg" data-lightbox="event-5" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-6.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Wedding</h4>
                                            <a href="img/event-6.jpg" data-lightbox="event-6" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-7.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Buffet</h4>
                                            <a href="img/event-7.jpg" data-lightbox="event-7" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-8.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Corporate</h4>
                                            <a href="img/event-8.jpg" data-lightbox="event-17" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-1.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Wedding</h4>
                                            <a href="img/01.html" data-lightbox="event-8" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Wedding</h4>
                                            <a href="img/01.html" data-lightbox="event-9" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-3.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Corporate</h4>
                                            <a href="img/01.html" data-lightbox="event-10" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Corporate</h4>
                                            <a href="img/01.html" data-lightbox="event-11" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-5.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Cocktail</h4>
                                            <a href="img/01.html" data-lightbox="event-12" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-6.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Cocktail</h4>
                                            <a href="img/01.html" data-lightbox="event-13" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-7.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Buffet</h4>
                                            <a href="img/01.html" data-lightbox="event-14" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="img/event-8.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <h4 class="me-auto">Buffet</h4>
                                            <a href="img/01.html" data-lightbox="event-15" class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Events End -->
<!-- Book Us Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-0">
            <div class="col-1">
                <img src="img/background-site.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
            <div class="col-10">
                <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                    <div class="text-center">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Book Us</small>
                        <h1 class="display-5 mb-5">Where you want Our Services</h1>
                    </div>
                    <div class="row g-4 form">
                        <div class="col-lg-4 col-md-6">
                            <select class="form-select border-primary p-2" aria-label="Country selection">
                                <option selected>Select Country</option>
                                <option value="UK">UK</option>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <select class="form-select border-primary p-2" aria-label="City selection">
                                <option selected>Select City</option>
                                <!-- UK Cities -->
                                <option value="London">London</option>
                                <option value="Manchester">Manchester</option>
                                <option value="Birmingham">Birmingham</option>
                                <option value="Glasgow">Glasgow</option>
                                <option value="Liverpool">Liverpool</option>
                                <option value="Bristol">Bristol</option>
                                <option value="Leeds">Leeds</option>
                                <option value="Edinburgh">Edinburgh</option>
                                <option value="Sheffield">Sheffield</option>
                                <option value="Newcastle">Newcastle</option>

                                <!-- France Cities -->
                                <option value="Paris">Paris</option>
                                <option value="Marseille">Marseille</option>
                                <option value="Lyon">Lyon</option>
                                <option value="Toulouse">Toulouse</option>
                                <option value="Nice">Nice</option>
                                <option value="Nantes">Nantes</option>
                                <option value="Strasbourg">Strasbourg</option>
                                <option value="Montpellier">Montpellier</option>
                                <option value="Bordeaux">Bordeaux</option>
                                <option value="Lille">Lille</option>

                                <!-- Germany Cities -->
                                <option value="Berlin">Berlin</option>
                                <option value="Munich">Munich</option>
                                <option value="Hamburg">Hamburg</option>
                                <option value="Cologne">Cologne</option>
                                <option value="Frankfurt">Frankfurt</option>
                                <option value="Stuttgart">Stuttgart</option>
                                <option value="Düsseldorf">Düsseldorf</option>
                                <option value="Dortmund">Dortmund</option>
                                <option value="Essen">Essen</option>
                                <option value="Leipzig">Leipzig</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <select class="form-select border-primary p-2" aria-label="Place selection">
                                <option selected>Select Place</option>

                                <!-- UK Landmarks (10) -->
                                <optgroup label="UK Landmarks">
                                    <option value="BigBen">Big Ben (London)</option>
                                    <option value="TowerBridge">Tower Bridge (London)</option>
                                    <option value="Stonehenge">Stonehenge (Wiltshire)</option>
                                    <option value="EdinburghCastle">Edinburgh Castle</option>
                                    <option value="BuckinghamPalace">Buckingham Palace (London)</option>
                                    <option value="LakeDistrict">Lake District National Park</option>
                                    <option value="GiantCauseway">Giant's Causeway (N. Ireland)</option>
                                    <option value="YorkMinster">York Minster</option>
                                    <option value="BlackpoolTower">Blackpool Tower</option>
                                    <option value="CardiffCastle">Cardiff Castle (Wales)</option>
                                </optgroup>

                                <!-- France Landmarks (10) -->
                                <optgroup label="France Landmarks">
                                    <option value="EiffelTower">Eiffel Tower (Paris)</option>
                                    <option value="Louvre">Louvre Museum (Paris)</option>
                                    <option value="MontSaintMichel">Mont Saint-Michel</option>
                                    <option value="PalaceVersailles">Palace of Versailles</option>
                                    <option value="NotreDame">Notre-Dame Cathedral (Paris)</option>
                                    <option value="Chamonix">Chamonix-Mont-Blanc</option>
                                    <option value="ProvenceLavender">Provence Lavender Fields</option>
                                    <option value="LoireValley">Loire Valley Castles</option>
                                    <option value="Carcassonne">Carcassonne Fortress</option>
                                    <option value="FrenchRiviera">French Riviera Beaches</option>
                                </optgroup>

                                <!-- Germany Landmarks (10) -->
                                <optgroup label="Germany Landmarks">
                                    <option value="BrandenburgGate">Brandenburg Gate (Berlin)</option>
                                    <option value="Neuschwanstein">Neuschwanstein Castle</option>
                                    <option value="CologneCathedral">Cologne Cathedral</option>
                                    <option value="BlackForest">Black Forest</option>
                                    <option value="Reichstag">Reichstag Building (Berlin)</option>
                                    <option value="Dachau">Dachau Concentration Camp</option>
                                    <option value="RomanticRoad">Romantic Road</option>
                                    <option value="HeidelbergCastle">Heidelberg Castle</option>
                                    <option value="BambergOldTown">Bamberg Old Town</option>
                                    <option value="SaxonSwitzerland">Saxon Switzerland NP</option>
                                </optgroup>

                                <!-- Museums (10) -->
                                <optgroup label="Top Museums">
                                    <option value="BritishMuseum">British Museum (London)</option>
                                    <option value="TateModern">Tate Modern (London)</option>
                                    <option value="Orsay">Musée d'Orsay (Paris)</option>
                                    <option value="Pompidou">Centre Pompidou (Paris)</option>
                                    <option value="Pergamon">Pergamon Museum (Berlin)</option>
                                    <option value="DeutschesMuseum">Deutsches Museum (Munich)</option>
                                    <option value="VanGogh">Van Gogh Museum (Amsterdam)</option>
                                    <option value="Uffizi">Uffizi Gallery (Florence)</option>
                                    <option value="Prado">Prado Museum (Madrid)</option>
                                    <option value="Rijksmuseum">Rijksmuseum (Amsterdam)</option>
                                </optgroup>

                                <!-- Parks (10) -->
                                <optgroup label="Beautiful Parks">
                                    <option value="HydePark">Hyde Park (London)</option>
                                    <option value="RegentsPark">Regent's Park (London)</option>
                                    <option value="LuxembourgGardens">Luxembourg Gardens (Paris)</option>
                                    <option value="Tuileries">Tuileries Garden (Paris)</option>
                                    <option value="EnglischerGarten">Englischer Garten (Munich)</option>
                                    <option value="Tiergarten">Tiergarten (Berlin)</option>
                                    <option value="PhoenixPark">Phoenix Park (Dublin)</option>
                                    <option value="RetiroPark">Retiro Park (Madrid)</option>
                                    <option value="Vondelpark">Vondelpark (Amsterdam)</option>
                                    <option value="Prater">Prater Park (Vienna)</option>
                                </optgroup>

                                <!-- Shopping (10) -->
                                <optgroup label="Shopping Destinations">
                                    <option value="OxfordStreet">Oxford Street (London)</option>
                                    <option value="Harrods">Harrods (London)</option>
                                    <option value="ChampsElysees">Champs-Élysées (Paris)</option>
                                    <option value="GaleriesLafayette">Galeries Lafayette (Paris)</option>
                                    <option value="Kurfurstendamm">Kurfürstendamm (Berlin)</option>
                                    <option value="KaDeWe">KaDeWe (Berlin)</option>
                                    <option value="MilanoFashion">Milano Fashion District</option>
                                    <option value="BarcelonaShopping">Barcelona Shopping</option>
                                    <option value="AmsterdamNineStreets">Nine Streets (Amsterdam)</option>
                                    <option value="MallDubai">Dubai Mall</option>
                                </optgroup>

                                <!-- Restaurants (10) -->
                                <optgroup label="Famous Restaurants">
                                    <option value="FatDuck">The Fat Duck (UK)</option>
                                    <option value="CloveClub">The Clove Club (London)</option>
                                    <option value="GuySavoy">Guy Savoy (Paris)</option>
                                    <option value="Epicure">Epicure (Paris)</option>
                                    <option value="Schwarzwaldstube">Schwarzwaldstube (Germany)</option>
                                    <option value="Vendome">Vendôme (Germany)</option>
                                    <option value="OsteriaFrancescana">Osteria Francescana (Italy)</option>
                                    <option value="ElCeller">El Celler de Can Roca (Spain)</option>
                                    <option value="Noma">Noma (Denmark)</option>
                                    <option value="DiverXO">DiverXO (Madrid)</option>
                                </optgroup>

                                <!-- Stadiums (10) -->
                                <optgroup label="Sports Stadiums">
                                    <option value="Wembley">Wembley Stadium (London)</option>
                                    <option value="OldTrafford">Old Trafford (Manchester)</option>
                                    <option value="StadeFrance">Stade de France (Paris)</option>
                                    <option value="AllianzArena">Allianz Arena (Munich)</option>
                                    <option value="Olympiastadion">Olympiastadion (Berlin)</option>
                                    <option value="CampNou">Camp Nou (Barcelona)</option>
                                    <option value="SanSiro">San Siro (Milan)</option>
                                    <option value="Bernabeu">Santiago Bernabéu (Madrid)</option>
                                    <option value="Anfield">Anfield (Liverpool)</option>
                                    <option value="Emirates">Emirates Stadium (London)</option>
                                </optgroup>

                                <!-- Universities (10) -->
                                <optgroup label="Famous Universities">
                                    <option value="Oxford">University of Oxford</option>
                                    <option value="Cambridge">University of Cambridge</option>
                                    <option value="Sorbonne">Sorbonne University (Paris)</option>
                                    <option value="ETH">ETH Zurich</option>
                                    <option value="Heidelberg">Heidelberg University</option>
                                    <option value="LSE">London School of Economics</option>
                                    <option value="Edinburgh">University of Edinburgh</option>
                                    <option value="TUM">Technical University Munich</option>
                                    <option value="UCL">University College London</option>
                                    <option value="Humboldt">Humboldt University (Berlin)</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <input type="number" class="form-control border-primary p-2" placeholder="Book Identifier (important)">
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <select class="form-select border-primary p-2" aria-label="Number of Palaces">
                                <option selected>Select Number of Palaces</option>
                                <!-- 100-0 Options (Descending) -->
                                <option value="100-0">100-0 (Full Range Experience)</option>
                                <option value="75-0">75-0 (Comprehensive Selection)</option>
                                <option value="50-0">50-0 (Curated Highlights)</option>

                                <!-- Original Ascending Options -->
                                <option value="100-200">100-200 (Small Collection)</option>
                                <option value="300-400">300-400 (Moderate Collection)</option>
                                <option value="500-600">500-600 (Large Collection)</option>
                                <option value="700-800">700-800 (Extensive Collection)</option>
                                <option value="900-1000">900-1000 (Premium Collection)</option>
                                <option value="1000+">1000+ (Royal Grand Collection)</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <select class="form-select border-primary p-2" aria-label="Service type selection">
                                <option selected>Service type</option>
                                <option value="wedding">Wedding Services</option>
                                <option value="pub-party">Pub Party</option>
                                <option value="corporate">Corporate Catering</option>
                                <option value="home-delivery">Home Delivery</option>
                                <option value="cocktail">Cocktail Reception</option>
                                <option value="sit-down">Sit-down Catering</option>
                                <option value="bento">Bento Catering</option>
                                <option value="buffet">Buffet Catering</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <input type="mobile" class="form-control border-primary p-2" placeholder="Your Contact No.">
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <input type="date" class="form-control border-primary p-2" placeholder="Select Date">
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <input type="email" class="form-control border-primary p-2" placeholder="Enter Your Email">
                        </div>
                        <div class="text-center">
                            <a asp-controller="Home" asp-action="Index" class="btn-like-link">Submit Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <img src="img/background-site.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Book Us End -->


<style>
    .btn-like-link {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        background-color: #D4A762;
        color: white !important;
        text-decoration: none;
        border-radius: 50px;
        font-weight: 500;
        transition: all 0.3s ease;
        border: none;
        cursor: pointer;
        text-align: center;
        width: auto;
        margin: 0 auto;
    }

        .btn-like-link:hover {
            background-color: #c09555;
            color: white;
            text-decoration: none;
        }
</style>